:root {
  --primary: #27B8C1;
  --secondary: #2F2C35;
  --background: #D0E6E8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background);
}

.main {
    flex: 1 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Contact form */
.form-wrapper {
    padding: 2rem 3rem;
}

.contact-form {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 3rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 11px 21px -11px rgba(0,0,0,0.83);
}

.contact-form__row {
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 2rem;
}

.contact-form__row label {
    width: 30%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
}

.contact-form__row input, textarea {
    width: 70%;
    padding: 5px 10px;
    background-color: var(--background);
    border: none;
    font-weight: 500;
}

.contact-form__row input {
    height: 30px;
}

.contact-form__row button {
    width: 100px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    background-color: var(--primary);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.contact-form__row button:hover {
    background-color: var(--background);
}

.page-header {
    width: 100%;
    text-align: center;
    margin: 3rem 0 0;
}

.page-header small {
    color: var(--primary);
    font-size: 1rem;
}

.page-header h1 {
    font-size: 3rem;
}

@media screen and (max-width: 800px) {
    .text-overlay {
        width: 90%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text-overlay h2 {
        font-size: 3.3rem;
    }
    .slider__navigation {
        display: none;
    }
    .custom-cards-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .custom-card {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .form-wrapper {
        padding: 0;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form__row {
        flex-direction: column;
    }

    .contact-form__row input, textarea {
        width: 100%;
        margin-top: 1rem;
    }
}