.box {
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(0,0,0,0.1);
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
}
.box-inner {
  padding: 30px;
}
.avatar {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--primary), 0 0 0 8px #fff;
}
.avatar img {
  width: 100%;
  border-radius: 50%;
  display: block;
}
.box-wrapper h1,
.box-wrapper h2,
.box-wrapper h3,
.box-wrapper h4,
.box-wrapper h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}
.name,
.followers-title {
  font-size: 38px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
  color: #3a3a3a;
}
.occupation {
  font-size: 18px;
  font-style: italic;
  color: #707070;
  margin-bottom: 2px;
}
.location {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.location .fa {
  color: #c6c6c6;
  margin-right: 4px;
}