.dashboard-container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.side-info {
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
}